
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8">
      <h4> Contact/Feedback </h4>
  <span class="s_media"><%= link_to image_tag('Facebook.png'), "http://facebook.com/Submify"%></span>

  <span class="s_media"><%= link_to image_tag('Googleplus.png'), "https://plus.google.com/107604214559033316293" %></span>
  <span> <%= link_to image_tag('Twitter.png'), "http://twitter.com/submify" %></span>

      email: support@submify.com
    </div>
  </div>
</div>

