
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8">
      <span class="exp_explain"> FAQ </span>
      <ol>
        <li> What is the site about? </li>
      </ol>
        


    </div>
  </div>
</div>

