<% provide(:title, 'Front Page') %>
<div class="container-fluid">
  <div class="span8">
<% cache "signed_front", expires_in: 10.minutes do %>
      <h4> Front Page - Top links in Submify</h4>
      <ol class="links">
        <%= render @link_users %>
      </ol>
<% end %>
  </div>
</div>
