<% provide(:title, 'Home') %>

<div class="container-fluid">
  <div class="span8">
    <% if signed_in? %>
      <section>
      <%= render 'shared/link_form' %>
      </section>

      <ol class="links">
    <%= render @feed_items %>
      </ol>
<% params[:page] = 1 %>
        <div class="load-more">
          <%= link_to 'Load More', root_path(page: (params[:page].to_i || 1)+1, per_page: params[:per_page] || 15), class: 'hook', remote: true %>
        </div>
    <% else %>
      <h4> Front Page </h4>
      <ol class="links">
        <%= render @links %>
      </ol>
    <% end %>
  </div>  
</div>
