<% provide(:title, 'Home') %>

<%= javascript_include_tag('jquery.masonry.min') %>
<% if signed_in? %>
  <div class="container-fluid">
    <div class="span8">

      <section>
        <%= render 'shared/link_form' %>
        </section>
        <%= render 'shared/feed' %>

      </div>  
    </div>
<% end %>
