<% provide(:title, 'Home') %>

<% if signed_in? %>
  <div class="container-fluid">
    <div class="span8">

      <section>
        <%= render 'shared/link_form' %>
        </section>
        <% if @feed_items.any? %>
	  <ol class="links">
    	<%= render partial: 'shared/feed_item', collection: @feed_items %>
  	</ol>
  	<%= will_paginate @feed_items %>
	<% end %>	


      </div>  
    </div>
  <% else %>
    <%= render 'sessions/login_page' %>
<% end %>

