.gitignore  merge=ours
config/facebook.yml  merge=ours
config/deploy.rb  merge=ours
# Ignore some initializers files  merge=ours
config/initializers/redis.rb  merge=ours
config/initializers/session_store.rb  merge=ours
config/initializers/sidekiq.rb  merge=ours
config/initializers/soulmate.rb  merge=ours
config/initializers/secret_token.rb  merge=ours
config/initializers/facebook.rb  merge=ours
config/environments/production.rb  merge=ours
