<% provide(:title, @comment.body) %>
  <meta property="fb:app_id" content="295241533825642" /> 
  <meta property="og:type"   content="website" /> 
  <meta property="og:url"    content="<%= comment_url(@comment)%>"/>
  <meta property="og:title"  content= "<%= @comment.body %>" /> 

<div class="span8">

  <%= render 'comments/comment', comment: @comment %>
  <div class="span6">
    <%= render 'links/link', link: @comment.commentable %>
  </div>

</div>
