
<div class="row-fluid">
  <div class="span8">
    <h5> Follow a topic to get links related to it </h5>
    <ol class="topics">

      <%= render @topics %>
      </ol>
      <%= will_paginate @topics %>
  </div>
</div>
