
<div class="container">
  <div class="span8">
    <h3> Follow a topic or create a new one by submitting a link </h3>
    <ol class="topics">

      <%= render @topics %>
      </ol>
      <%= will_paginate @topics %>
  </div>
</div>
