<% provide(:title, @topic.topic_name) %>
<div class="row-fluid">
  <div class="span8">
    <% tab "Feed" %>
    <%= render 'topic_stats' %>
      <div class="span8">
      <%= render 'shared/link_form' %>
        <ol class="links">
          <%= render @links %>
        </ol>
        <%= will_paginate @links %>
  </div>

</div>
