<h3> Admin Interface </h3>
<ul class="breadcrumb">
  <li>
  <%= link_to "Links" , admin_path %><span class="divider">/</span> </li> 
  <li>
  <%= link_to "comments" , admin_comments_path %> <span class="divider">/</span> </li>
  <li >
  <%= link_to "topics" , admin_topics_path %> </li>
</ul>
