<aside> 
  <section>
<div class="follow_button">  <%= render 'follow_form' if signed_in? %> </div>
<h3>
<% cache("#{@user.id}_user") do %>
   <%= image_tag (@user.avatar.url(:thumb)), class: "gravatar" %>
  <%= @user.name %>
<% end %>
</h3>
</section>

<div class="stats_of_user">
<%= render 'shared/stats' %>
</div>
</aside>
