<aside> 
<div class="follow_button">  <%= render 'follow_form' if signed_in? %> </div>
<% cache @user do %>
<h3>
   <%= image_tag (@user.avatar.url(:thumb)), class: "gravatar" %>
  <%= @user.name %>
</h3>

<div class="stats_of_user">
<%= render 'shared/stats' %>
</div>
<% end %>
</aside>
