
<li>
<% cache("#{user.id}_user") do %>
<%= image_tag (user.avatar.url(:thumb)), class: "gravatar" %>
  <%= link_to user.name, user %>
<% end %>
  <% if current_user.admin? %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>
