<% provide(:title, @user.name) %>
<div class="row-fluid">
<div class="span8">
  <%= render 'profile_stat_nav' %>
  <% if @user.links.any? %>

    <ol class="links">
      <%= render @links %>
    </ol>
  <%= will_paginate @links %>
  <% end %>
</div>

</div>

