<% provide(:title, @user.user_name) %>
<div class="row-fluid">
  <div class="span8">
    <% tab "followers" %>
    <%= render 'profile_stat_nav' %>
    <ul class="users">
      <%= render @users %>
      </ul>
      <%= will_paginate @users %>
  </div>
</div>
