<% provide(:title, @user.name) %>
<div class="row-fluid">
<div class="span8">
    <% tab "links" %>
  <%= render 'profile_stat_nav' %>
  <% if @user.links.any? %>

    <ol class="links">
    </ol>
        <div class="load-more">
        <%= link_to 'Load More', user_path(@user, page: (params[:page].to_i || 1)+1, per_page: params[:per_page] || 15), class: 'kooh', remote: true %>
    </div>
  <% end %>
</div>

</div>

