<% provide(:title, @user.user_name) %>
<div class="row-fluid">
  <div class="span8">
    <% cache @user do %>
      <% tab "links" %>
      <%= render 'profile_stat_nav' %>
      <ol class="show-commented"></ol>
      <ul class="users"></ul>
      <ol class="links">
        <%= render @link_users if @link_users %>
      </ol>
      <% params[:page] = 1 %>
      <div class="load-more">
        <%= link_to 'Load More', user_path(@user, page: (params[:page].to_i || 1)+1, per_page: params[:per_page] || 15), class: 'kooh', remote: true %>
      </div>
    <% end %> 
  </div>
</div>
