<% provide(:title,'comments') %>
<div class="row-fluid">
  <div class="span8">
    <%= render 'profile_stat_nav' %>
    <h4>Comments </h4>
    <% if @comments.any? %>
<ol class="full_comments">
<%= render partial: 'comments/comment', collection: @comments %>
</ol>
<%= will_paginate @comments %>
    <% end %>
  </div>
</div>
