<% provide(:title, @user.name) %>
<div class="row-fluid">
  <div class="span8">
   <%= hidden_field_tag 'page_tab',"followers" %> 
    <%= render 'profile_stat_nav' %>
    <ul class="users">
      <%= render @users %>
      </ul>
      <%= will_paginate @users %>
  </div>
</div>
