<% if signed_in? %>
<%= form_for :comment, url: comments_path(comment_id: @comment) do |f| %>
  <div class="field">
    <%= f.text_area :body, placeholder: "Add a comment", id: "comment_text", value: ""%>
    <%= f.submit "Submit", class: "btn btn-small"%>
  </div>
<% end %>
<% end %>
 
