<% if @user.errors.any? %>
  <div id="error_explanation">
    <ul>
      
        <% if @user.errors.count >= 5 %>
        <li> Fields cannot be empty </li>
        
       <% else %>

         <% @user.errors.full_messages.each do |msg| %>
            
            <% if not @user.errors[:password_digest].empty? %>
            
            <% else %>
              
              <li> <%= msg %> </li>
            
            <% end %>
          
          <% end %>
        
        <% end %>
    </ul>
  
  </div>
<% end %>
