<div class="feed_contain">
<%= render 'links/link', link: feed_item %>
<ol class="full_comments"> 
  <div class="span8">
    <div class="span6 ">
      <!--
         -<%= render partial: 'comments/comment', collection: feed_item.following_comments(current_user) %>
         -->
      <br/>
    </div>
    
  </div>
</ol>
</div>
