<% @user ||= current_user %>

<ul class="breadcrumb">
  <li>
  <%= link_to pluralize(@user.links.count, 'link') , user_path(@user) , class:("active" if @page_tab == "links")%><span class="divider">/</span> </li> 
  <li>
  <%= link_to pluralize(@user.commented.count, 'comment') , commented_user_path(@user) ,class:("active" if @page_tab == "comments") %> <span class="divider">/</span> </li> </li>
  <%= link_to pluralize(@user.followers.count, 'follower') , followers_user_path(@user) , class:("active" if @page_tab == "followers")%>
</ul>
