<% @user ||= current_user %>
<ul class="breadcrumb">
  <li class="links_user">
  <%= link_to pluralize(@user.links.count, 'link') , user_path(@user) %><span class="divider">/</span> </li> 
  <li class="comments_user">
  <%= link_to pluralize(@user.commented.count, 'comment') , commented_user_path(@user) %> <span class="divider">/</span> </li>
  <li class="followers_user">
  <%= link_to pluralize(@user.followers.count, 'follower') , followers_user_path(@user)%> </li>
</ul>
