<div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
      <div class="well sidebar-nav sidebar-nav-fixed sidebar-rel">
        <h4> Followers </h4>
        <ul class="users">
          <% @users.each do |user| %>
            <li>
            <%= image_tag (user.avatar.url(:medium)), class: "gravatar" %>
            <%= link_to user.name, user, class: 'profile_hover', data: {hovercard: user.id} %>
            </li>
          <% end %>
        </ul>
        <%= link_to "See more", followers_topic_path %>
      </div>
    </div>
  </div>


</div>
