<li>
<span class="url_link"><%= link.url_link %></span>

<span class="timestamp"> Posted
  <%= time_ago_in_words(link.created_at) %> ago.
</span>
<% if current_user? (link.user) %>
  <%= link_to "delete", link, method: :delete, data: { confirm: "You sure?" }, title: link.link_url %>
<% end %>
</li>

