  <div class= "link-<%= link.id %>" >

    <div class ="link_contain row-fluid">
      <div class="flag">
        <%= render 'flags/flag_button', flaggable: link, type: "Link" %>
      </div>
      <% cache link do %>
        <div class="info_link"><%= render 'links/link_info', link: link %></div>
        <span class="show-comments">  <%= link_to pluralize(link.comments.count, "comment"), link %></span>
      <% end %>
    </div>
  </div>
<!--
-<div class="underline"></div>
-->
