<% cache "link_#{link.id}" do %>
  <%= image_tag(link.avatar.url, class: 'link-image')  if link.avatar.exists? %>
  <div class="link_url">
    <span class="url_link"><%= link_to link.url_heading, 'http://' + link.url_link %> </span>

  </div>
  <% host = 'http://'+ link.url_link %>
  <div class="host_link">
    <%= link_to host.match(".+\:\/\/([^\/]+)")[1], host %> 
  </div>
<% end %>
