<% provide(:title, 'Search') %>

<div class="container-fluid">
  <div class="span8">
<h4> Links </h4>
      <% if @links %>
        <ol class="links">
    <%= render @links %>
        </ol>
      <% else %>
    <h5> No links found </h5>
      <% end %>	
  </div>  
</div>
