<% provide(:title, 'Search') %>

<div class="container-fluid">
  <div class="span8">
    <% if signed_in? %>
<h4> Links </h4>
      <% if @links %>
        <ol class="links">
    <%= render @links %>
        </ol>
        <div class="load-more">
          <%= link_to 'Load More', root_path(page: (params[:page].to_i || 1)+1, per_page: params[:per_page] || 15), class: 'hook', remote: true %>
        </div>
      <% else %>
    <h5> No links found </h5>
      <% end %>	
    <% end %>
  </div>  
</div>
