<h3> Kavalan Interface! ;) </h3>
<ul class="breadcrumb">
  <li>
  <%= link_to "Links" , kavalan_path %><span class="divider">/</span> </li> 
  <li>
  <%= link_to "comments" , kavalan_comments_path %> <span class="divider">/</span> </li>
  <li >
  <%= link_to "topics" , kavalan_topics_path %> </li>
</ul>
