<div class="span8">
  <div class="container-fluid">
    <%= render 'kavalan/stats' %>
      <ol class="show-commented">
        <%= render @comments %>
      </ol>
      <%= will_paginate @comments %>
  </div>
</div>
