@import "bootstrap.css" ;
body {

  padding-top: 60px;
  min-width: 1000px;
}
.brand{

  width: 210px;
}
.search-query{
  width: 300px;
}
#error_explanation {

  color: #f00;

  ul{
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors input{ 
  border-color: #f00;
}

/* ul.nav li.dropdown:hover ul.dropdown-menu{
display:block;
} 	*/

.dropdown-menu li > a:hover{
  background-image: none;
  background-color: #bbc3bc;
}

/* show links */
.links {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}


.timestamp{
  float: right;
    color: #bbc3bc;
    padding-right: 30px;
    font-size: 10px;
  a{
    color: #bbc3bc;
    padding-right: 10px;
    font-size: 10px;
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

aside {
  textarea{
    height: 100px;
    margin-bottom: 5px;
  }
}
/* side bar */

.stats {
  overflow: auto;

  a{
    float: left;
    padding: 0 10px;
    border-left: 1px solid #999;
    color: gray;
    &:first-child{
      padding-left: 0;
      border:0;
    }
    &:hover{
      text-decoration: none;
      color: blue;
    }
  }
  strong{
    display: block;
  }
}
.users_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin:  1px 1px;
  }
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid #999;
    &:last-child {
      border-bottom: 1px solid #999;
    }
  }
}


.field{

  input[type = "text"],
  textarea{

    width: 600px;
    height: 20px;
    padding: 3px;
    border: 1px solid #999;
  }
}

.comments-form  .field{
    textarea{
  width: 350px;
}
}

#submit_button{
  position: relative;
}

.link_url{
  a{
    //color: #323232;
    color: #004864;
    font-size: 26px; 
    font-family: arial, sans-serif;
  }

}
.host_link{
  color: #7f7f7f;
  a{
    color: #7f7f7f;
    font-weight: bold;
    font-size: 14px;
    font-family: arial, sans-serif;
  }
}
.followers-count{
font-size: 12px;
float: right;
color: #0088CC;
}
.user_link{
    color: #4c4c4c;
    font-size: 10.8px;
    font-weight: bold;
    font-family: "Helvetica Neue",Arial,sans-serif;
    text-shadow: rgba(0, 0, 0, 0.0078125) 0 0 1px;
  a{
    color: #4c4c4c;
    font-size: 10.8px;
    font-weight: bold;
    font-family: "Helvetica Neue",Arial,sans-serif;
    text-shadow: rgba(0, 0, 0, 0.0078125) 0 0 1px;
  }

}
.clearfix {
  display: inline-block;
  width: 100%;
}

.delete_link{

  left: 550px;

}
.comment_in_links{
  overflow: hidden;
}
#complete_url textarea, .mirroredText { line-height:20px; }
.full_comments {
  list-style: none;
  margin: 10px 0 0 0;
  font-size: 12.8px;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}

.show_comment, .downvotes{
  color: #bbc3bc;
  float: left;
}
.submits, .votes{
  float:  left;
  padding-right: 8px;
  font-size: 12.8px;
  color: #bbc3bc;
  a{
    color: #bbc3bc;
  }
}
.span8 > .submits, .span8 > .votes{
  float:  left;
  padding-right: 10px;
  font-size: 12.8px;
  color: #bbc3bc;
  a{
    color: #bbc3bc;
  }
}
.user_image{
  float: left;
  margin-right: 300px;
}
.submit_row{
  overflow: hidden;
}
.submit{
  float: right;
  font-size: 12.8px;
  padding-right: 50px;
  display: block;
}
.vote{
  padding-right: 50px; 
  font-size: 12.8px;
  float: right;
}
 #topic-downvote, .comment-downvote{
  float: right;
  font-size: 12.8px;
}
.butn, .butn:focus, .butn:active {
  /* NOTE Remove all decorations */
  border: none;
  display: inline;
  margin: 0em;
  padding: 0em;
  outline: none;
  outline-offset: 0em;
  /* NOTE Look like a link */
  background: none;
  color: #bbc3bc;
  cursor: pointer;
  font: inherit;
}
#fat-menu{
  img{
    width: 25px;
    height: 25px;
  }
}
.follow_button{
  float: right;
}
.del_comment,  .unsubmit, .flag{
  float: right;
  font-size: 8px;
  a{color: #bbc3bc;}
}
.comment_url{
  width: 100%;
}
#topic_name{
  width: 120px;
  height: 12px;
}
.dropdown-menu {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}
.topic-desc{
  padding: 30px;
}
.undo-butn, .undo-butn:focus, .undo-butn:active {
  /* NOTE Remove all decorations */
  border: none;
  display: inline;
  margin: 0em;
  padding: 0em;
  outline: none;
  outline-offset: 0em;
  /* NOTE Look like a link */
  background: none;
  color: #7da9cc;
  cursor: pointer;
  font: inherit;
}
.votes-up{
  float: left;
  color: #3b5998;
}
.underline { 
  border-bottom-style: hidden ; 
  border-bottom-width:1px; 
}
.show-comments{
  float: left;
  font-size: 12.8px;
}
.loading-indicator, #loadindicator {
    float: right;
}
.link-image {
  float: right;
  max-width: 150px;
  max-height: 100px;
}
.load-more {

  background-color:#eee; 
  color:#999; font-weight:bold; 
  text-align:center; padding:10px 0;
  cursor:pointer;
}  
.load-more:hover{
  color: #666; 
}
.topic{
  background: #ebf6ff;
  margin: 1px 1px 1px 1px;
  padding: 1px 1px 1px 1px;
}
.full_comments{
  background: #f5faff;
  margin: 1px 1px 1px 1px;
  padding: 1px 1px 1px 1px;
}
.comment-image {
  float: left;
  margin-right: 10px;
  width: 25px;
  height: 25px;
}
.auto-label, .auto-topic{
  padding-left: 12px;
  font-weight: bold;
  font-size: 12.8px;
    color: #4c4c4c;
    font-weight: bold;
    font-family: "Helvetica Neue",Arial,sans-serif;
    text-shadow: rgba(0, 0, 0, 0.0078125) 0 0 1px;
  a{
    font-weight: bold;
  }
}
.auto-category{
  font-size: 12px;
  color: gray;
  padding-left: 10px;
}
.auto-img img{
  width: 20px;
  height: 20px;
}
.auto-img-nav img{
  width: 40px;
  height: 40px;
}
.topic-pic{
  width: 50px;
  height: 50px;
}
#comment-comments, .comments-form{
  padding-left: 60px;
  width: 500px;
}
