@import "boostrap";

html{
  overflow-y: scroll;
}

section{
  overflow: auto;
}

textarea{
  resize: vertical;

}

.center{

  text-align: center;
}


.center h1{
  margin-bottom: 10px;
}

/* Navbar in twitterbootstrap */

.navbar-inner {

  background-color: rgba(0, 0, 0, 0.03);
  text-color: #000;
}
/* Typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {

  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2{

  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p{
  font-size: 1.1em;
  line-height: 1.7em;
}

/*header */

#logo {

  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #000;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover{
  color: rgba(0, 0, 0, 0.03);
  text-decoration: none;
}
