
/*
 *$navbarBackgroundHighlight: #605f46;
 */
@import url("http://fonts.googleapis.com/css?family=Open+Sans");
$baseFontFamily: 'Open Sans', sans-serif;

@import "bootstrap";


html, body {
  height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}

#main {
}

#main {
  height: 142px;
} 
.s_media{
  float: left;
}
body {

  padding-top: 60px;
  min-width: 1000px;
}
#nav_discover, #nav_blog, #sign_in {
  padding-top: 12px;
  color: #eaedea;
}
#nav_explore{
  color: #eaedea;
}
#nav_home, #nav_explore{
  padding-top: 11px;
}
body > .navbar .brand{
  font-weight: bold;
  color: white;
  padding-top: 12px;
}
/*
 *.sidebar-nav-fixed {
 *  padding-right: 9px 0;
 *  position:fixed;
 *  right: 40px;
 *  top: 200px;
 *  width: 300px;
 *}
 */
.sidebar-nav-fixed {
  position:fixed;
  top: 180px;
  right: 50px;
  width:21.97%;
}

.social_media{
  position: fixed;
  top: 100px;
  right: 80px;
  width: 21.97%;
  padding: 14px;
}
.social_box{
  padding-left: 25px;
}

@media (min-width: 1200px) {

  .search-query{
    width: 420px; 
  }
  .navbar-search{
    padding-left: 118px;
  }
  body > .navbar .brand{
    padding-left: 50px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .search-query{
    width: 200px; 
  }
  body{
    padding-top: 60px;
  }

}
@media (max-width: 767px) {
  .search-query{
    width: 200px; 
  }
  body{
    padding-top: 60px;
  }

}
@media (max-width: 480px) {
  .search-query{
    width: 110px; 
  }
  body{
    padding-top: 120px;
  }

}

@media (max-width: 979px) {
  .sidebar-nav-fixed, .social_media {
    position:static;
    width:auto;
  }
  .sidebar-rel{
    display: none;
  }
}

/*
 *@media (max-width: 979px) {
 *  .sidebar-nav-fixed {
 *    top:70px;
 *  }
 *}
 */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}
.nav{
  font-weight: bold;
}
.sub_explain {
  color: red;
}
.info_box{
  border-color: #E9E9E9;
  border-style: solid;
  border-width: 4px;
}

.intro_box{
  width: 100%;
  padding-top: 8px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.link_explain{
  /*
   *font-family: Optima, 'Trebuchet MS', sans-serif;
   */
  font-size: 16px;
  padding: 0px 10px 10px 0px;
}

.up_explain{
  padding-left: 130px;
}
.exp_explain{
  color: #7f7f7f;
}

#error_explanation {

  color: #f00;

  ul{
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors input{ 
  border-color: #f00;
}

/* ul.nav li.dropdown:hover ul.dropdown-menu{
display:block;
} 	*/

.dropdown-menu li > a:hover{
  background-image: none;
  background-color: #bbc3bc;
}

/* show links */
.links {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}


.timestamp{
  float: left;
  color: #707570;
  padding-right: 10px;
  font-size: 10.8px;
  a{
    color: #707570;
  }
}
.exp_explain{
  font-size: 20px;
  padding-left: 18px;
}

.stats_of_user, .stats_of_topic{
  padding-top: 30px;
}
.gravatar {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

aside {
  textarea{
    height: 100px;
    margin-bottom: 5px;
  }
}
/* side bar */

.stats {
  overflow: auto;

  a{
    float: left;
    padding: 0 10px;
    border-left: 1px solid #999;
    color: gray;
    &:first-child{
      padding-left: 0;
      border:0;
    }
    &:hover{
      text-decoration: none;
      color: blue;
    }
  }
  strong{
    display: block;
  }
}
.users_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin:  1px 1px;
  }
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid #999;
    &:last-child {
      border-bottom: 1px solid #999;
    }
  }
}


.field{

  input[type = "text"],
  textarea{

    width: 550px;
    height: 20px;
    padding-bottom: 3px;
    border: 1px solid #999;
  }
}
textarea#topic_description, textarea#user_description{
  width: 400px;
  height: 40px;
}

#submit_button{
  position: relative;
}
.head_intro{
  color: #004864;
  float: center;
}
.link_url{
  //color: #323232;
  color: #004864;
  font-family: Optima, 'Trebuchet MS', sans-serif;
  padding-right: 5px;
  font-weight: bold;

}
.lu_box{
  padding-left: 60px;
}
.host_link{
  color: #7f7f7f;
  a{
    color: #7f7f7f;
    font-weight: bold;
    font-family: arial, sans-serif;
  }
}
.link_link{
  width: 100%;
  padding: 5px;

}
.followers-count{
  font-size: 12px;
  float: right;
  color: #0088CC;
}
.user_link{
  color: #4c4c4c;
  font-size: 10.8px;
  font-weight: bold;
  font-family: "Helvetica Neue",Arial,sans-serif;
  text-shadow: rgba(0, 0, 0, 0.0078125) 0 0 1px;
  a{
    color: #4c4c4c;
    font-size: 10.8px;
    font-weight: bold;
    font-family: "Helvetica Neue",Arial,sans-serif;
    text-shadow: rgba(0, 0, 0, 0.0078125) 0 0 1px;
  }

}
.clearfix {
  display: inline-block;
  width: 100%;
}

.delete_link{

  left: 550px;

}
#complete_url textarea, .mirroredText { line-height:20px; }
.downvotes {
  color: #bbc3bc;
  padding-right: 125px;
  font-size: 12.8px;
  float: left;
}
.submits, .votes{
  float:  left;
  padding-right: 10px;
  color: #bbc3bc;
  a{
    color: #bbc3bc;
  }
}
.span8 > .submits, .span8 > .votes{
  float:  left;
  padding-right: 10px;
  color: #bbc3bc;
  a{
    color: #bbc3bc;
  }
}
.user_image{
  float: left;
  margin-right: 300px;
}
.submit_row{
  overflow: hidden;
}
.submit{
  float: right;
  font-size: 12.8px;
  padding-right: 50px;
  display: block;
}
.vote_link_show{
  float: right;
  font-size: 12.8px;
  padding-right: 40px;
}
.comment-downvote{
  float: right;
  height: 12px;
  /*
   *max-height: 18px;
   *max-width: 80px;
   */
}
.butn, .butn:focus, .butn:active {
  /* NOTE Remove all decorations */
  border: none;
  display: inline;
  margin: 0em;
  padding: 0em;
  outline: none;
  outline-offset: 0em;
  /* NOTE Look like a link */
  background: none;
  color: #bbc3bc;
  cursor: pointer;
  font: inherit;
}
#fat-menu{
  img{
    width: 25px;
    height: 25px;
  }
}
.follow_button{
  float: right;
}
.del_comment,  .unsubmit, .flag {
  float: right;
  font-size: 8px;
  a{color: #bbc3bc;}
}
#topic_name{
  width: 160px;
  height: 20px;
}
.dropdown-menu {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}
.topic-desc{
  padding: 30px;
}
.undo-butn, .undo-butn:focus, .undo-butn:active {
  /* NOTE Remove all decorations */
  border: none;
  display: inline;
  margin: 0em;
  padding: 0em;
  outline: none;
  outline-offset: 0em;
  /* NOTE Look like a link */
  background: none;
  color: #7da9cc;
  cursor: pointer;
  font: inherit;
}
.votes-up{
  float: left;
  color: #3b5998;
}
.underline { 
  //border-bottom-color: #333333;
}
.feed_contain {
  /*
   *border-top-color:  #E0E0E0;
   *border-left-color: #333333;
   *border-right-color: #333333;
   *border-bottom-color: #E0E0E0;
   *border-top-style: solid;
   *border-top-width: 1px;
   */
}
.loading-indicator, #loadindicator {
  float: right;
}
.link-image {
  max-width: 400px;
  max-height: 400px;
  padding: 5px;
}
.load-more {

  background-color:#eee; 
  color:#999; font-weight:bold; 
  text-align:center; padding:10px 0;
  cursor:pointer;
}  
.load-more:hover{
  color: #666; 
}
.topic{
  background: #ebf6ff;
  margin: 1px 1px 1px 1px;
  padding: 1px 1px 1px 1px;
}
.auto-label, .auto-topic{
  padding-left: 12px;
  font-weight: bold;
  font-size: 12.8px;
  color: #4c4c4c;
  font-weight: bold;
  font-family: "Helvetica Neue",Arial,sans-serif;
  text-shadow: rgba(0, 0, 0, 0.0078125) 0 0 1px;
  a{
    font-weight: bold;
  }
}
.auto-category{
  font-size: 12px;
  color: gray;
  padding-left: 10px;
}
.auto-img img{
  width: 20px;
  height: 20px;
}
.auto-img-nav img{
  width: 40px;
  height: 40px;
}
.topic-pic{
  width: 50px;
  height: 50px;
}
.video_embedd{
  float: left;
  width: 100%;
  padding-bottom: 10px;
}
.profile_hover, .topic_hover{
}
.user-profile{
  width: 100%;
  color: #808080;
}
.sep{
  width: 100%;
  border-bottom-color: #333333;
  height: 2px;

}
.profile_hover{
  font-weight: bold;
}
.dummy{
  font-size: 0.2px;
  float: right;
}
.link_contain{
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 10px;
  border-top-color: #E9E9E9;
  border-top-style: solid;
  border-top-width: 2px;
  border-left-color: #E9E9E9;
  border-left-style: solid;
  border-left-width: 2px;
}
li.active{
  a{
    color: #7f7f7f;
  }
}
.link_info{
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 5px;
}
li.nostyle {
  list-style-type: none;
}
.topics_link{
  padding-bottom: 5px;
  font-size: 12px;
  a{
    font-size: 12px;
    color: #333333; 
  }
  img{
    width: 12px;
    height: 12px;
  }
}
.vote, #topic-downvote{
  float: left;
  padding-right: 10px;
  height: 16px;
}
.topic_in, .related, .user_in{
  padding-top: 5px;
  padding-bottom: 10px;
}
.related{
  padding-left: 5px;
}
.tvote, .tdvote{
  width: 80px;
  height: 12px;
}
.tdvote {
  float: right;
}
.tdvote{
  padding-right: 110px;
}
.submit_topic{
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 15px;
  font-size: 12px;
}
.rel_link{
  font-size: 12px;
  width: 100%;
  a {
    font-size: 12px;
  }
}
.topics_in{
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn-custom{
  background-color: hsl(193, 32%, 49%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b8d3da", endColorstr="#5493a4"); background-image: -khtml-gradient(linear, left top, left bottom, from(#b8d3da), to(#5493a4)); background-image: -moz-linear-gradient(top, #b8d3da, #5493a4); background-image: -ms-linear-gradient(top, #b8d3da, #5493a4); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b8d3da), color-stop(100%, #5493a4)); background-image: -webkit-linear-gradient(top, #b8d3da, #5493a4); background-image: -o-linear-gradient(top, #b8d3da, #5493a4); background-image: linear-gradient(#b8d3da, #5493a4); border-color: #5493a4 #5493a4 hsl(193, 32%, 41.5%); color: #333 !important; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.49); -webkit-font-smoothing: antialiased;

}
.info_link{
  float: left;
  width: 100%;
}

#spinner
{
  display: none;
  width:100px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  text-align:center;
  margin-left: -50px;
  margin-top: -100px;
  z-index:2;
  overflow: auto;
}    
#preview-card
{
  position:relative;        

}
.name
{    
  font-weight:bold;    
  position:relative;    
  z-index:100; /*greater than details, to still appear in card*/
}
.profile_hovercard, .topic_hovercard{
  background: #fff;
  border: solid 1px #ddd;
  min-width: 280px;
  min-height: 70px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}


*[id*='topic_hovercard_'] , *[id*='topic_hovercard_']{
  display: none;
}
*[id*='profile_hovercard_'] , *[id*='profile_hovercard_']{
  display: none;

}
.topic-pic-hover{
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 10px;
}
.hover_stats{
  a{
    color: #5c5f5d;
  }
}
.follow_hover{
  float: right;
  width: 25px;
  height: 12px;
  padding-left: 5px;
  padding-right: 60px;
}
.hover-name{
  float: left;
}
.followers-count.hover_stat_topic{
  display: block;
  clear: left;
  padding-right: 10px;
}

#noti_Container {
  position:relative;
  border:1px solid blue;
  width:16px;
  height:16px;
}
.noti_bubble {
  position:absolute;
  top: -2px;
  left: -2px;
  padding:1px 2px 1px 2px;
  background-color:red;
  color:white;
  font-weight:bold;
  font-size:0.70em;

  border-radius:30px;
  box-shadow:1px 1px 1px gray;
}
.noti_noti{
  right: -2px;
  padding:1px 55px 1px 2px;
  position: absolute;
  color:red;
  font-weight:bold;
  font-size:0.55em;
}

.link-user-image {
  float: left;
  margin-right: 10px;
  width: 45px;
  height: 45px;
  padding: 5px;
}
.arrow_box{
  padding-right: 9px 0;
  position:fixed;
  right: 40px;
  top: 60px;
  width: 300px;
}
.yield_box{
  padding-top: 20px;
}


.comment_link_box{
  padding-left: 60px;
  width: 500px;

}
#comment_link_border{
  border-top: 1px solid #E9E9E9;
  left: 50%;

}
.row-fluid > .span-fixed-sidebar {
  margin-right: 290px;
}
#new_link{
  padding-left: 30px;
}
.show-comments{
  padding-right: 10px;
}
.comments_stats{
  padding-top: 4px;
}
