      <% provide(:title, 'Privacy') %>
<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Privacy Policy", privacy_path %></li>
      <li><a href="https://plus.google.com/107604214559033316293" rel="publisher">Google+</a></li>
    </ul>
  </nav>
</footer>
