
  <header class="navbar">
  <div class="navbar-inner">
  <div class="container">
    <%=link_to "youarel", '#', id: "logo" %>
    <nav>
      <ul class="nav pull-right">
        <li><%= link_to "Signup",'#' %></li>
      </ul>
    </nav>
  </div>
</div>
</header>
