
<header class="navbar">

<div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
   <div class="container-fluid">
     <div class="nav-collapse">
       <%=link_to "youarel", '#', class: "brand" %>
      <ul class="nav pull-right">
        <li><%= link_to "Signup",'#' %></li>
      </ul>
  </div>
  </div>
  </div>
</div>
</header>
